<!DOCTYPE html>
<html lang="en">
<head >
    <title>NOTEBOOK</title>



     <!-- Required meta tags, kod który powoduje ze www jest responsywne -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include 'snippets/header.html' %}

</head>

<body>
    <!-- Body   -->
    <style type="text/css">
        .main{
            min-height: 100vh;
            height: 100%;
        }

    </style>

    <div class="main">
        {% block content %}

        {% endblock content %}
    </div>

    <!--  Endbody  -->

    {% include 'snippets/footer.html' %}

</body>

</html>