<style type="text/css">
	.card{
		max-width: 700px;
		width: 100%;
	}
	.card-body{
		padding: 20px;
	}

</style>

{% if blog_post %}


<!-- Blog Post -->
		<div class="card m-auto">
			<p>blog_post_body_snippet</p>


			<div class="card-body mt-2 mb-2">
				<a href="{% url 'notebook:detail' %}">
					<h2 class="card-title">{{blog_post.title}}</h2>
				</a>
				<p class="card-text">{{blog_post.body}}</p>
				<p>zrobić guzik do edycji ale tylko dla zalogowanych</p>
			</div>
			<div class="card-footer">
			  Updated {{blog_post.created}} by {{blog_post.author}}
			</div>
		</div>

{% endif %}