{% extends 'base.html' %}

{% block content %}

<style type="text/css">
  .create-form {
	    width: 100%;
	    max-width: 100%;
	    padding: 15px;
	    margin: auto;
  	}

  	.submit-button{
  		max-width: 200px;
  	}
</style>

<div class="container">
	<div class="row">
		<div class="col-lg-7 offset-lg-1">
			<form class="create-form" method="post">
                {% csrf_token %}

				<!-- title -->
				<div class="form-group">
					<label>Title</label>
					<input class="form-control" type="text" name="title" placeholder="Title" required autofocus>
				</div>

				<!-- Body -->
				<div class="form-group">
					<label for="id_body">Content</label>
					<textarea class="form-control" rows="10" type="text" name="body" placeholder="This blog is about..." required></textarea>
				</div>

				<!-- Submit btn -->
				<button class="submit-button btn btn-lg btn-primary btn-block" type="submit">POST</button>
			</form>
		</div>
	</div>
</div>



{% endblock content %}



<!--<div class="container">-->
<!--	<div class="row">-->
<!--		<div class="col-lg-7 offset-lg-1">-->
<!--			<form class="create-form" method="post" enctype="multipart/form-data">{% csrf_token %}-->

<!--				&lt;!&ndash; title &ndash;&gt;-->
<!--				<div class="form-group">-->
<!--					<label for="id_title">Title</label>-->
<!--					<input class="form-control" type="text" name="title" id="id_title" placeholder="Title" required autofocus>-->
<!--				</div>-->

<!--				&lt;!&ndash; Body &ndash;&gt;-->
<!--				<div class="form-group">-->
<!--					<label for="id_body">Content</label>-->
<!--					<textarea class="form-control" rows="10" type="text" name="body" id="id_body" placeholder="This blog is about..." required></textarea>-->
<!--				</div>-->

<!--				&lt;!&ndash; Image &ndash;&gt;-->
<!--				<div class="form-group">-->
<!--					<label for="id_image">Image</label>-->
<!--					<input  type="file" name="image" id="id_image" accept="image/*" required>-->
<!--				</div>-->

<!--				&lt;!&ndash; Submit btn &ndash;&gt;-->
<!--				<button class="submit-button btn btn-lg btn-primary btn-block" type="submit">POST</button>-->
<!--			</form>	-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->