{% extends 'base.html' %}

{% block content %}



<style>


    .container{
        padding:20px;
    }

    .card{
		max-width: 700px;
		width: 100%;
	}
	.card-body{
		padding: 20px;
	}

</style>
<!-- Blog Post -->
<div class="card m-auto">
    <div class="row">
        <div class="card m-auto">
            <div class="card-body mt-2 mb-2">
                <p>blog_detail</p>
                <h2 class="card-title">{{blog_post.title}}</h2>
                <p class="card-text">{{blog_post.body}}</p>

            <div class="card-footer">
                Updated {{blog_post.created}} by {{blog_post.author}}
            </div>



                <p>zrobić blog_post_edit + możliwość dodawania zdjęć + slug aby można bylo dodać osobne posty lub zrobić petle</p>

        </div>
    </div>

</div>
<!-- End Blog Post -->
{% endblock content %}