<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<style type="text/css">

body {
  background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

</style>

<!--HEADER-->

<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">

    {% if request.user.is_authenticated %}
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">

        <span class="fs-4">
             Hello, {{ request.user.username }}
        </span>
    </a>
    {% endif %}

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      {% if request.user.is_authenticated %}
        <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'home' %}">Home</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'account' %}">Account</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'logout' %}">Logout</a>
      {% else %}
<!--        <a class="py-2 text-dark text-decoration-none" href="#">Pricing</a>-->

        <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'home' %}">Home</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'login' %}">Login</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'register' %}">Register</a>
       {% endif %}

      </nav>
    </div>

<!--END HEADER -->




<!--&lt;!&ndash;HEADER&ndash;&gt;-->
<!--<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom">-->

<!--      <h5 class="my-0 mr-md-auto font-weight-normal">-->
<!--      {% if request.user.is_authenticated %}-->
<!--          <p> Hello, {{ request.user.username }}</p>-->
<!--      {% endif %}-->
<!--      </h5>-->


<!--      <nav class="my-2 my-md-0 mr-md-3">-->
<!--      {% if request.user.is_authenticated %}-->
<!--        <a class="p-2 text-dark" href="{% url 'home' %}">Home</a>-->
<!--        <a class="p-2 text-dark" href="{% url 'account' %}">Account</a>-->
<!--        <a class="p-2 text-dark" href="{% url 'logout' %}">Logout</a>-->
<!--      {% else %}-->
<!--        <a class="p-2 text-dark" href="{% url 'home' %}">Home</a>-->
<!--        <a class="p-2 text-dark" href="{% url 'login' %}">Login</a>-->
<!--        <a class="btn btn-outline-primary" href="{% url 'register' %}">Register</a>-->
<!--      {% endif %}-->


<!--      </nav>-->
<!--    </div>-->
<!--&lt;!&ndash; END HEADER &ndash;&gt;-->

<!-- FILMIK 18-->