{% extends 'base.html' %}

{% block content %}
<style type="text/css">

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}


.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 1;
  border-bottom-left-radius: 1;
}

.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-top-left-radius: 1;
  border-top-right-radius: 1;
}

.h3{
    text-align: center;
}

.blog-posts{
    max-with: 500px;
    width:100%;
    margin:auto;
}

</style>
<main class="form-signin">
    <form method="post">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">Account</h1>

        <div class="form-floating">
            <input type="email" name="email" class="form-control" id="floatingInput" placeholder="Email address">
            <label>E-mail</label>
        </div>

        <div class="form-floating">
            <input type="text" name="username" class="form-control" id="inputUsername" placeholder="Username">
            <label>Username</label>
        </div>

        {% for field in account_form %}
            <div>
            {% for error in field.errors %}
                <p style="color:">{{error}}</p>
            {% endfor %}
            </div>
        {% endfor %}

        {% if account_form.non_field_errors %}
            <div style="color:red;">
                <p>{{account_form.non_field_errors}}</p>
            </div>

        {% endif %}
            <button class="w-100 btn btn-lg btn-primary" type="submit">Save changes</button>
<!--List of posts-->

        <div class="container mt-4 p-4">
            <div class="row">
                <div class="blog-posts">
                    <h3 class="mb-3 font-weight: normal">Blog posts:</h3>
                        {% if blog_posts %}
                        <ul>
                            {% for post in blog_posts %}
                                <a href="{% url 'notebook:detail' %}" style="text-decoration: none">
                                    <li class="list-group-item">{{post}}</li>
                                </a>
                            {% endfor %}
                        </ul>
                        {% else%}
                            <p>You have a no blog_post. Create a post <a href="{% url 'notebook:create' %}">here.</a></p>
                        {% endif %}
                </div>
            </div>
        </div>

    </form>
</main>
{% endblock content %}











