{% extends 'base.html' %}

{% block content %}
<style type="text/css">

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}


.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 1;
  border-bottom-left-radius: 1;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 1;
  border-top-right-radius: 1;
}

.h3{
    text-align: center;
}
</style>

<main class="form-signin">
  <form method="post">
      {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Login</h1>

    <div class="form-floating">
      <input type="email" name="email" class="form-control" id="floatingInput" placeholder="Email address" required>
      <label for="floatingPassword">E-mail</label>
    </div>
    <div class="form-floating">
      <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" required>
      <label for="floatingPassword">Password</label>
    </div>
      {%for field in account_form%}
            <div>
            {% for error in field.errors %}
                <p style="color: red;">{{error}}</p>
            {% endfor %}
            </div>
      {% endfor %}

      {% if login_form.non_field_errors %}
            <div style="color:red;">
                <p>{{login_form.non_field_errors}}</p>
            </div>
      {% endif %}
        <button class="w-100 btn btn-lg btn-primary" type="submit">Log in</button>

    </form>

</main>
{% endblock content %}











