{% extends 'base.html' %}

{% block content %}
<style type="text/css">

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-floating:focus-within {
  z-index: 2;

}

.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 1;
  border-bottom-left-radius: 1;
}

.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-top-left-radius: 1;
  border-top-right-radius: 1;

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 1;
  border-top-right-radius: 1;
}

.h3{
    text-align: center;
}

</style>

<main class="form-signin">
  <form method="post">
      {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Register</h1>

    <div class="form-floating">
      <input type="email" name="email" class="form-control" id="floatingInput" placeholder="Email address" required>
      <label>E-mail</label>
    </div>

    <div class="form-floating">
      <input type="text" name="username" class="form-control" id="inputUsername" placeholder="Username" required>
      <label>Username</label>
    </div>

    <div class="form-floating">
      <input type="password" name="password1" class="form-control" id="inputPassword1" placeholder="Password" required>
      <label>Password</label>
    </div>

    <div class="form-floating">
      <input type="password" name="password2" class="form-control" id="inputPassword2" placeholder="Confirm password" required>
      <label>Confirm password</label>
    </div>

      {%for field in registration_form%}
        <div>
            {% for error in field.errors %}
                <p style="color: red;">{{error}}</p>
            {% endfor %}
        </div>
      {% endfor %}

      {% if registration_form.non_field_errors %}
        <div style="color:red;">
            <p>{{registration_form.non_field_errors}}</p>
        </div>
      {% endif %}

        <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>

    </form>

</main>
{% endblock content %}



























